ol a {
    text-decoration: none;
    color: black;
}

#cards-restaurants {
    display: grid;
    grid-template-columns: 33.3% 33.3% auto;
    overflow-y: scroll;
    height: 88.3vh;
    width: 100vw;
}

.card {
    max-width: 480px;
}

.container-fluid {
    padding-left: 22px;
    padding-right: 22px;
}