<!-- <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(141, 3, 21)">
    <a class="navbar-brand" [routerLink]="['/home']">Melp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <ul class="nav justify-content-end">
        <li routerLinkActive="active">>
            <a class="nav-link" [routerLink]="['/restaurants']">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Link</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
    </ul>
</nav> -->
<nav class="navbar-dark disply-grid" style="background-color: rgba(141, 3, 21, 0.521)">
    <a id="melp" [routerLink]="['/home']">Melp</a>

    <ul class="nav justify-content-end">
        <li routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/restaurants']">Restaurants <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Sort
                </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Name ↓</a>
                <a class="dropdown-item" href="#">Name ↑</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Rating ↓</a>
                <a class="dropdown-item" href="#">Rating ↑</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
    </ul>
</nav>

?