/* You can add global styles to this file, and also import other style files */

body {
    height: 84.5vh;
    background-image: url('./assets/img/portada.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}